.contact {
  margin-top: 90px;
  .contact-header {
    justify-content: center;
    text-align: center;
    .contact-content {
      margin: 0 auto;
      max-width: 60%;
    }
  }
  .contact-section {
    justify-content: center;
    margin-top: 50px;
    .input-area {
      width: 600px;
      input {
        border: 1px solid #afafaf;
        padding: 15px 25px;
        width: 90%;
        background-color: #f8f8f8;
        border-radius: 14px;
      }
    }
    .submission-area {
      .submission-btn {
        background-color: #fd6f00;
        color: #ffffff;
        padding: 15px 25px;
        border: none;
        border-radius: 14px;
      }
    }
  }
}
