.text-warning {
  color: #fd6f00 !important;
}

h6 {
  font-size: 24px;
  font-weight: 600;
  line-height: 36px;
}
h5 {
  font-size: 32px;
  font-weight: 600;
  line-height: 48px;
}
h3 {
  font-size: 65px;
  font-weight: 600;
  line-height: 97.5px;
}
h1 {
  font-size: 100px;
  font-weight: 700;
  line-height: 120px;
}
p {
  font-size: 21px;
  font-weight: 400;
  line-height: 31.5px;
}
