.footer {
  background-color: #f8f8f8;
  padding: 50px;
  .footer-link {
    display: flex;
    justify-content: center;
    margin: 45px 0px;
    li {
      list-style: none;
      padding: 15px;
      font-weight: 400;
      font-size: 21px;
    }
  }
}
.copyright {
  background-color: #545454;
  padding: 20px;
  color: white;
  font-weight: 400;
  font-size: 21px;
}
